################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hackerservice/HackerService.Api/bin/Debug/net6.0
/Hackerservice/HackerService.Api/obj
/Hackerservice/HackerService.Krypto/obj
/Hackerservice/.vs/Hackerservice/config
/Hackerservice/.vs/Hackerservice/DesignTimeBuild
/Hackerservice/.vs/Hackerservice/v17/.suo
/Hackerservice/.vs/Hackerservice/v17/.futdcache.v2
/Hackerservice/.vs/Hackerservice/FileContentIndex/read.lock
/Hackerservice/.vs/Hackerservice/FileContentIndex/48b63105-5cf7-4077-9e00-208d117b3252.vsidx
/Hackerservice/.vs/Hackerservice/FileContentIndex/36fea659-1346-477a-9dc2-b68731861ac7.vsidx
/Hackerservice/.vs/Hackerservice/FileContentIndex/271cf8ec-7457-4986-bf34-5693db3ae050.vsidx
/Hackerservice/.vs/Hackerservice/FileContentIndex/1bef4011-6982-423a-a13b-48e5626a054c.vsidx
/Hackerservice/.vs/Hackerservice/FileContentIndex
/.vs/slnx.sqlite
*.lock
*.vsidx
/.vs/VSWorkspaceState.json
/.vs/BootCamp22/v17/.wsuo
/Hackerservice/HackerService.Krypto/bin/Debug/net6.0
/Hackerservice/.vs/ProjectEvaluation
/Hackerservice/HackerService.UnitTests/bin/Debug/net6.0
/Hackerservice/HackerService.UnitTests/obj
